.text {
  color: var(--primary-color);
  font-size: 80px;
  font-family: "Quicksand-Bold";
  justify-content: center;
  display: flex;
}
.main-img {
  padding-top: 100px;
  justify-content: center;
}

.tagp {
  font-size: 35px;
  font-family: "Quicksand-SemiBold";
  margin: 30px 0px 30px 0px;
  color: var(--primary-color);
}

.tag-p {
  color: var(--primary-color);
  font-size: 35px;
  font-family: "Quicksand-SemiBold";
}
.back {
  background: linear-gradient(to left, #ea1b64, #f4a1c3, #faf6fe);
  margin-bottom: 200px;
  margin-top: 115px;
  background-size: auto;
}

.demo {
  font-size: 55px;
  color: var(--primary-color);
  font-family: "Quicksand-SemiBold";
  margin-top: 50px;
}

.app1 {
  margin-left: 12%;
  line-height: normal;
}

.text {
  line-height: normal;
}

.play-img1 {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tab {
  margin-top: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 5px 8px;
  border-radius: 30px;
}

.schedule-btn {
  border-radius: 30px;
  margin-left: 20px;
  color: #fff;
  padding: 10px 40px 10px 40px;
  margin-bottom: 30px;
  border: 0px;
  background-color: var(--primary-color);
}

.more-btn {
  border-radius: 30px;
  margin-left: 20px;
  color: var(--primary-color);
  padding: 10px 40px 10px 40px;
  margin-bottom: 30px;
  border: 1px solid #0a2360;
  background-color: transparent;
}

.ul-a {
  list-style-image: url("../../../assets/images/bullate-check.png");
  color: var(--primary-color);
}
.ul-b {
  list-style-image: url("../../../assets/images/bullet-right.png");
  margin-left: 25px;
  font-family: "Quicksand-Bold";
  color: var(--primary-color);
}
.ul-c {
  list-style-image: url("../../../assets/images/bullate-circle.png");
  margin-left: 50px;
  color: var(--primary-color);
  font-family: "Quicksand-Medium";
  font-size: 16px;
}
.service-btn {
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: #fff;
  font-family: "Quicksand-Medium";
  padding: 10px 60px 10px 60px;
  border: 0px;
  margin-left: 20px;
}
.inner-div1{
  position: relative;
}
.inner-div2{
  position: relative;
}

.inner-div3{
  position: relative;
}

.inner-div4{
  position: relative;
}

.inner-div1::before {
  content: " ";
  position: absolute;
  top: -55px;
  height: 154px;
  width: 154px;
  background-image: url("../../../assets/images/01..png");
  background-repeat: no-repeat;
}

.inner-div2::before {
  content: " ";
  position: absolute;
  top: -55px;
  height: 154px;
  width: 170px;
  background-image: url("../../../assets/images/02..png");
  background-repeat: no-repeat;
}
.inner-div3::before {
  content: " ";
  position: absolute;
  top: -55px;
  height: 154px;
  width: 154px;
  background-image: url("../../../assets/images/03..png");
  background-repeat: no-repeat;
}
.inner-div4::before {
  content: " ";
  position: absolute;
  top: -55px;
  height: 154px;
  width: 154px;
  background-image: url("../../../assets/images/04..png");
  background-repeat: no-repeat;
}
.our-img{
  width: 100%;
}
.header-contant {
  color: var(--secondary-color) !important;
  font-family: 'Quicksand-Bold';
}
h1{
  font-family: 'Quicksand-Bold';
}

// @media only screen and (max-width: 575px) {
//   .service-list:nth-child(odd) {
//     display: flex;
//     flex-direction: column-reverse;
//     flex-wrap: wrap;
//   }
// }

@media only screen and (max-width: 1024px) {
  .service-list:nth-child(odd) {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}