.mainclass{
    min-height: 100vh;
}

.tag-p {
    color: #0a2360;
    font-size: 55px;
    font-family: "Quicksand-Bold";
}

.tagp {
    color: #0a2360;
    // font-family: 'Quicksand-Medium';
    font-size: 18px;
    font-weight: 700;
}
ul {
    // list-style-image: url("../../../assets/ourservice/icon/Path\ 65.png");
    margin-left: 25px;
    font-size: 16px;
    font-family: "Quicksand-Bold";
    color: #0a2360;
}
h4{
    font-family: 'Quicksand-Bold';
    color: var(--primary-color);
}

.text-p {
    font-size: 16px;
    font-family: "Quicksand-Bold";
    color: #0a2360;
}

.text {
    font-weight: 700;
    color: #0a2360;
    font-family: "Quicksand-Bold";
}

.text-1 {
    font-size: 35px;
    font-weight: 700;
    color: #0a2360;
    font-family: "Quicksand-Bold";
}

.title {
    font-size: 20px;
    font-family: "Quicksand-Bold";
    color: #ea1b64;
    font-weight: 700;
    border: 0px;
}

th {
    border: 3px solid #fff;
}

td {
    border: 3px solid #fff;
}
.text {
    line-height: normal;
}
.dark{
    background-color: #F7F7FB;
}

.form-btn {
    border-radius: 5px;
    margin-left: 20px;
    background-color: #fff;
    color: var(--primary-color);
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    border: 1px solid #0a2360;
  }
  .form-btn1 {
    border-radius: 5px;
    margin-left: 20px;
    background-color: #ea1b64;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    border: 0px;
  }
//   @media screen and (max-width: 575px) {  
//   .table-xs-responsive th {  
//       width: 100% !important;  
//       display: block !important;  
//       box-sizing: border-box;  
//   }  
//   .table-xs-responsive td {  
//       width: 100% !important;  
//       display: block !important;  
//       box-sizing: border-box;  
//   }  
//   }  
//   @media screen and (max-width: 767px) {  
//   .table.table-sm-responsive th {  
//       width: 100% !important;  
//       display: block !important;  
//       box-sizing: border-box;  
//   }  
//   .table.table-sm-responsive td {  
//       width: 100% !important;  
//       display: block !important;  
//       box-sizing: border-box;  
//   }  
//   }  
//   @media screen and (max-width: 992px) {  
//   .table.table-sm-responsive th {  
//       width: 100% !important;  
//       display: block !important;  
//       box-sizing: border-box;  
//   }  
//   .table.table-sm-responsive td {  
//       width: 100% !important;  
//       display: block !important;  
//       box-sizing: border-box;  
//   }  
//   }  
  @media screen and (min-width: 1200px) {  
 .table{
     overflow: hidden;
 }
  }  
