<div class="mainclass">
    <div>
        <div class="section1">
            <div class="maindiv">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-6 col-12 mt-5 mx-auto">
                            <h1 class="tag-p mt-5">Praesent eu dolor eu orci
                                vehicula euismod.</h1>
                            <p class="tagp f-18">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Sed
                                ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <div class="row mt-5">
                                <div class="col-md-3">
                                    <div class="card m-1">
                                        <div class="card-body">
                                            <p class="text-center text-1 ">150</p>
                                            <p class="text-center text m-0">Total</p>
                                            <p class="text-center text m-0">Downloads</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card m-1">
                                        <div class="card-body">
                                            <p class="text-center text-1">20k+</p>
                                            <p class="text-center f-18 text m-0">Happy</p>
                                            <p class="text-center f-18 text m-0">Customers</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card m-1">
                                        <div class="card-body">
                                            <p class="text-center text-1 ">300</p>
                                            <p class="text-center f-18 text m-0">Positive</p>
                                            <p class="text-center f-18 text m-0 ">Feedback</p>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 50px;">
                                    <p style="font-size: 35px; font-family: 'Quicksand-SemiBold'; color: #0A2360;">
                                        Features
                                    </p>
                                    <ul>
                                        <li class="text-p">Time management</li>
                                        <li class="text-p">Performance monitoring</li>
                                        <li class="text-p">Performance feedback</li>
                                        <li class="text-p">System development, evaluation, and maintenance</li>
                                        <li class="text-p">Standardized operational systems to promote efficiency and
                                            increase internal capacity</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 back-img">
                            <div class="background mt-5">
                                <img class="justify-content-center mt-5" src="../../../assets/images/app-screen.jpg"
                                    width="100%">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="mt-5">
                        <h5 class="tag-p text-center mt-5">Get the right plan for future product.</h5>
                        <p class="tagp mt-5 mb-5 f-16 text-center">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Sed ut
                            perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div>
                    <div class="table table-responsive">
                        <table class="table m-0 p-0">
                            <thead>
                                <tr>
                                    <th class="col-1 title"></th>
                                    <th class="col-1 title text-center">Basic</th>
                                    <th class="col-1 title text-center">Standard</th>
                                    <th class="col-1 title text-center">Premium</th>
                                    <th class="col-1 title text-center">Enterprise</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="dark">
                                    <th scope="row">Websites</th>
                                    <td class="text-center">01</td>
                                    <td class="text-center">03</td>
                                    <td class="text-center">10</td>
                                    <td class="text-center">Unlimited</td>
                                </tr>
                                <tr class="dark">
                                    <th scope="row">Storages</th>
                                    <td class="text-center">5GB</td>
                                    <td class="text-center">10GB</td>
                                    <td class="text-center">50GB</td>
                                    <td class="text-center">Unlimited</td>
                                </tr>
                                <tr class="dark">
                                    <th scope="row">Email Accounts</th>
                                    <td class="text-center">10</td>
                                    <td class="text-center">25</td>
                                    <td class="text-center">50</td>
                                    <td class="text-center">Unlimited</td>
                                </tr>
                                <tr class="dark">
                                    <th scope="row">Premium Themes</th>
                                    <td class="text-center"> <img src="../../../assets/images/remove.png"> </td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                </tr>
                                <tr class="dark">
                                    <th scope="row">Advanced Forms</th>
                                    <td class="text-center"> <img src="../../../assets/images/remove.png"> </td>
                                    <td class="text-center"><img src="../../../assets/images/remove.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                </tr>
                                <tr class="dark">
                                    <th scope="row">Premium Icons</th>
                                    <td class="text-center"> <img src="../../../assets/images/remove.png"> </td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                </tr>
                                <tr class="dark">
                                    <th scope="row">Customer Support</th>
                                    <td class="text-center">limited</td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                    <td class="text-center"><img src="../../../assets/images/check.png"></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <h4>Free</h4>
                                        <p>No credit card required</p>
                                        <button type="button" class="form-btn f-18 fw">Get started</button>
                                    </td>
                                    <td>
                                        <h4>$09/mo</h4>
                                        <p>Billed yearly</p>
                                        <button type="button" class="form-btn f-18 fw">Get started</button>
                                    </td>
                                    <td>
                                        <h4>$19/mo</h4>
                                        <p>Billed yearly</p>
                                        <button type="button" class="form-btn1 f-18 fw">Get started</button>
                                    </td>
                                    <td>
                                        <h4>$39/mo</h4>
                                        <p>Billed yearly</p>
                                        <button type="button" class="form-btn f-18 fw">Get started</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <app-form></app-form>
                </div>
                <div>
                    <app-daxtatab></app-daxtatab>
                </div>

            </div>
        </div>
    </div>
</div>