<nav class="header sticky-top navbar-expand-lg ">
    <div class="container">
        <div class="row" style="border-bottom: 1px solid #E5DFDF;">
            <div class="col-md-4 col-4 col-lg-6">
                <img class="image m-3 mx-auto" src="../../../assets/images/Daxtalogo.png">
            </div>
            <div class="col-md-6 col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                <div class="d-flex flex-row">
                    <div class="mr-5">
                        <img src="../../../assets/images/phone.png" style="margin-right: 10px;">
                    </div>
                    <div>
                        <p class="phone fw">{{'phone' | translate}}</p>
                        <p class="phone fw">+123456789</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="mr-2">
                        <img src="../../../assets/images/email.png" style="margin-right: 10px;">
                    </div>
                    <div>
                        <p class="phone fw">{{'email' | translate}}</p>
                        <p class="phone fw">carrer@eww.in</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-between header-set1">
            <div class="">
                <button class="navbar-toggler mt-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fa fa-bars" style="color:#fff;"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link f-18 m-2" routerLink="/home"
                                routerLinkActive="router-link-active">{{'home' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link f-18 m-2 tag-a fw" routerLink="/about"
                                routerLinkActive="router-link-active">{{'aboutus' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link f-18 m-2 tag-a fw" routerLink="/ourservice"
                                routerLinkActive="router-link-active">{{'ourservice' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link f-18 col-md-12 tag-a fw m-2" routerLink="/software"
                                routerLinkActive="router-link-active">{{'software' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link f-18 m-2 tag-a fw" routerLink="/courses"
                                routerLinkActive="router-link-active">{{'courses' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link f-18 m-2 tag-a" routerLink="/ourteam"
                                routerLinkActive="router-link-active">{{'ourteam' | translate}}</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link active f-18 m-2 tag-a" routerLink="/blog"
                                routerLinkActive="router-link-active">Blog</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link f-18 m-2 tag-a fw" routerLink="/contactus"
                                routerLinkActive="router-link-active">{{'contactus' | translate}}</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="d-flex header-set justify-content-between mt-2">
                <div class="dropdown1">
                    <button class="btn btn-success 
                             dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown1"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="../../../assets/images/usa.png"
                            class="flag" width="25" height="25">
                    </button>

                    <div class="dropdown-content1">
                        <a>
                            <img src="../../../assets/images/Flag-Spain.jpg" width="30" height="25"
                                (click)="useLanguage('pr')"></a>
                        <a>
                            <img src="../../../assets/images/Flag_of_Portugal.svg.png" width="30" height="25"
                                (click)="useLanguage('sp')"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>