.header {
    background-color: var(--primary-color);
}
p {
    color: white;
}
.phone {
    font-family: "Quicksand-Bold";
    margin: 0px !important;
}

.nav-link ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: var(--secondary-color);
    color: var(--secondary-color);
    position: absolute;
    left: 0;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

.router-link-active {
    color: var(--secondary-color);
    border-bottom: 2px solid #ea1b64;
}

.router-link-active a:active {
    color: var(--secondary-color);
}

a.tag-a:hover,
a.tag-a:active {
    color: var(--secondary-color);
}

a {
    color: #fff;
    font-family: "Quicksand-Bold";
}
.navbar-toggler[_ngcontent-cpi-c16]:focus {
    outline: none !important;
}

.btn-success {
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 30px;
}

.flag {
    border-radius: 20px;
    // border: 1px solid #fff;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}
.dropdown-content1 a {
    padding: 12px 16px;
    display: block;
}
@media (min-width: 678px) and (max-width: 1024px) {
    .header-set1{
        width:auto !important;
        }
}
@media (min-width: 320px) and (max-width: 767px) {
    .image {
        width: 190px;
        height: 60px;
    }
    .header-set1{
        width:auto;
        }
}
.header-set1{
width:100%
}