.header-contant {
  color: var(--secondary-color) !important;
  font-family: "Quicksand-Bold";
}

.main-img {
  padding-top: 100px;
}

.text-p {
  font-family: "Quicksand-SemiBold";
}

h1 {
  font-family: "Quicksand-Bold";
  color: var(--primary-color);
}

h4 {
  color: var(--secondary-color);
  font-size: 67px;
  font-family: "Quicksand-Bold";
  border-bottom: 2px solid #e8e9eb;
  padding: 20px;
}

ul {
  list-style-image: url("../../../assets/images/bullate-check.png");
}
li {
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}
.tagp {
  font-size: 35px;
  font-family: "Quicksand-SemiBold";
  margin: 30px 0px 30px 0px;
}

.back {
  background: linear-gradient(to left, #ea1b64, #f4a1c3, #faf6fe);
  margin-bottom: 200px;
  margin-top: 115px;
  background-size: auto;
}

.demo {
  color: var(--primary-color);
  font-family: "Quicksand-SemiBold";
  margin-top: 50px;
}

.app1 {
  margin-left: 12%;
  line-height: normal;
}

.text {
  line-height: normal;
}
.text1 {
  font-family: "Quicksand-SemiBold";
  color: var(--primary-color);
}

.play-img1 {
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tab {
  margin-top: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 5px 8px;
  border-radius: 30px;
}

.schedule-btn {
  border-radius: 30px;
  margin-left: 20px;
  color: #fff;
  padding: 10px 40px 10px 40px;
  margin-bottom: 30px;
  border: 0px;
  background-color: var(--primary-color);
}

.more-btn {
  border-radius: 30px;
  margin-left: 20px;
  color: var(--primary-color);
  padding: 10px 40px 10px 40px;
  margin-bottom: 30px;
  border: 1px solid #0a2360;
  background-color: transparent;
}
.back{
  background-image: url('../../../assets/images/value.png');
  background-repeat: no-repeat;
  background-position: bottom left;

}
@media only screen and (max-width: 959px) {
  .service-list {
    display: none;
  }
  .text{
    padding-top:0px !important;
  }
}
