<div>
    <div class="mainclass">
        <div class="container">
            <div class="mt-5">
                <div class="text-center header ">
                    <h1 class="fw">About
                        <span class=" header-contant">DAXTA</span>
                    </h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <p class="text-p text-center">Lorem Ipsum is simply dummy text of the printing and
                            typesetting
                            industry. Sed ut perspiciatis unde omnis iste natus
                            error sit voluptatemLorem Ipsum is simply dummy text of the printing and typesetting
                            industry</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row back" style="margin-top: 100px;">

                <div class="service-list1 d-lg-none">
                    <p class="text-uppercase fw"
                    style="text-align: end; color: #EA1B64;  font-family: 'Quicksand-Bold'; font-size: 20px;">
                    Mission</p>
                <h1 class="fw"
                    style="text-align: end; font-family: 'Quicksand-SemiBold'; color: #0A2360;">
                    Lorem Ipsum Is Simply Dummy Text Of The </h1>
                <p class="" style="text-align: end; font-family: 'Quicksand-Medium';">DAXTA is a growing
                    company with the mission to globally elevate quality and efficiency of treatment for individuals
                    with autism and other related disabilities by increasing the effectiveness and capacity of
                    clinical service providers</p>
                </div>

                
                <div class="col-md-10 col-12 col-lg-4 ">
                    <h4>01.</h4>
                    <p class="tagp fw">Excellence</p>
                    <ul>
                        <li>If we are going to do something, we will do it well</li>
                        <li>We incorporate best practices in our work </li>
                        <li>We strive to build systems that will promote the use of evidence-based practices
                            by
                            clinical providers</li>
                    </ul>
                </div>
                <div class="col-md-10 col-12 col-lg-4 text" style="padding-top: 150px;">
                    <h4>02.</h4>
                    <p class="tagp fw">Team Member Centered</p>
                    <ul>
                        <li>If we are going to do something, we will do it well</li>
                        <li>We incorporate best practices in our work </li>
                        <li>We strive to build systems that will promote the use of evidence-based practices
                            by
                            clinical providers</li>
                    </ul>
                </div>
                <div class="col-md-10 col-12 col-lg-4">
                    <div class="service-list">
                        <p class="text-uppercase fw service-list"
                        style="text-align: end; color: #EA1B64;  font-family: 'Quicksand-Bold'; font-size: 20px;">
                        Mission</p>
                    <h1 class="fw"
                        style="text-align: end; font-family: 'Quicksand-SemiBold'; color: #0A2360;">
                        Lorem Ipsum Is Simply Dummy Text Of The </h1>
                    <p class="" style="text-align: end; font-family: 'Quicksand-Medium';">DAXTA is a growing
                        company with the mission to globally elevate quality and efficiency of treatment for individuals
                        with autism and other related disabilities by increasing the effectiveness and capacity of
                        clinical service providers</p>
                    </div>
                   <div>
                    <h4>03.</h4>
                    <p class="tagp fw">Customer Obsessed</p>
                    <ul>
                        <li>If we are going to do something, we will do it well</li>
                        <li class="f-18">We incorporate best practices in our work </li>
                        <li class="f-18">We strive to build systems that will promote the use of evidence-based practices
                            by
                            clinical providers</li>
                    </ul>

                   </div>
                   
                </div>
            </div>
        </div>
    </div>

    <div>
        <app-form></app-form>
    </div>

    <div>
        <app-daxtatab></app-daxtatab>
    </div>
</div>