<div class="mainclass">
    <div class="container">
        <div class="mt-5">
            <div class="text-center header">
                <h1>Team
                    <span class=" header-contant">Members</span>
                </h1>
            </div>
            <p class="text-p f-18  text-center">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Sed ut perspiciatis unde omnis iste natus</p>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5 p-0">
            <div class="col-md-6">
                <div>
                    <h1 class="fw text">Layla Sump
                        <span class="degree">Ph.D., BCBA-D, LBA(Layla Abby)</span>
                    </h1>
                </div>
                <div>
                    <h5>Co-Founder</h5>
                    <p class="description"> Layla Sump is a board certified behaviour analyst – doctoral. Layla is the
                        CoFounder of DAXTA
                        and leads the clinical efforts of the company. Dr. Sump is originally from Rio de Janeiro,
                        Brazil, but lives in the United States since 2003. Layla obtained her undergraduate and masters
                        degrees in Psychology at Jacksonville State University, under the mentorship of Paige McKerchar,
                        Ph.D., BCBA-D and her Ph.D. in Special Education from Texas Tech University, under the
                        mentorship of David Richman, Ph.D., BCBA-D. Following her doctorate, Layla was a post-doctoral
                        fellow at Trumpet Behavioural Health (TBH) under the mentorship of Linda LeBlanc, Ph.D., BCBA-D.
                        Then, while at TBH, Dr. Sump served as Director of the San Francisco office, Director of
                        Training, and Director of Clinical Services. Currently, Dr. Sump serves as a consultant for
                        autism service providers and she is an Adjunct Professor for Pepperdine University.
                    </p>
                    <p class="description">Dr. Sump has published in several peer-review scientific journals including
                        Journal of Applied Behavior Analysis, Behavior Analysis in Practice, Research in
                        Developmental Disabilities, Journal of Intellectual Disability Research, Journal of
                        Developmental and Physical Disabilities, and Journal of Mental Health Research in
                        Intellectual Disabilities. Dr. Sump has presented her research at national and
                        international conferences and has been a guest reviewer for the Journal of Applied
                        Behavior Analysis, Behavior Analysis in Practice, The Analysis of Verbal
                        Behavior, and Journal of Behavioral Education.</p>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div>
                    <img src="../../../assets/images/Frame 225.png" style="max-width: 100%;">
                </div>
                <div class="img-tag">
                    <img src="../../../assets/images/Vector.png" class="img2">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-default btn-danger"
                    popover="Popover component in Angular ngx bootstrap." popoverTitle="GeeeksforGeeks"
                    placement="bottom">
                    Click here!
                </button>
            </div>
        </div>

        <div class="row mt-5  p-0 m-0">
            <div class="col-md-6 d-flex justify-content-start">
                <div>
                    <img src="../../../assets/images/our-team.png" style="max-width:100%;">
                </div>
                <div>
                    <img src="../../../assets/images/Vector.png" class="img3">
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <h1 class="fw text">Gabriella Ulloa
                        <span class="degree">(M.A., BCBA, QBA)</span>
                    </h1>
                </div>
                <div>
                    <h5 class="">DirectorofProduct</h5>
                    <p class="description"> Layla Sump is a board certified behaviour analyst – doctoral. Layla is the
                        CoFounder of DAXTA
                        and leads the clinical efforts of the company. Dr. Sump is originally from Rio de Janeiro,
                        Brazil, but lives in the United States since 2003. Layla obtained her undergraduate and masters
                        degrees in Psychology at Jacksonville State University, under the mentorship of Paige McKerchar,
                        Ph.D., BCBA-D and her Ph.D. in Special Education from Texas Tech University, under the
                        mentorship of David Richman, Ph.D., BCBA-D. Following her doctorate, Layla was a post-doctoral
                        fellow at Trumpet Behavioural Health (TBH) under the mentorship of Linda LeBlanc, Ph.D., BCBA-D.
                        Then, while at TBH, Dr. Sump served as Director of the San Francisco office, Director of
                        Training, and Director of Clinical Services. Currently, Dr. Sump serves as a consultant for
                        autism service providers and she is an Adjunct Professor for Pepperdine University.
                    </p>
                    <p class="description">Dr. Sump has published in several peer-review scientific journals including
                        Journal of Applied Behavior Analysis, Behavior Analysis in Practice, Research in
                        Developmental Disabilities, Journal of Intellectual Disability Research, Journal of
                        Developmental and Physical Disabilities, and Journal of Mental Health Research in
                        Intellectual Disabilities. Dr. Sump has presented her research at national and
                        international conferences and has been a guest reviewer for the Journal of Applied
                        Behavior Analysis, Behavior Analysis in Practice, The Analysis of Verbal
                        Behavior, and Journal of Behavioral Education.</p>
                </div>
            </div>

        </div>

        <div class="row mt-5 p-0">
            <div class="col-md-6">
                <div>
                    <h1 class="fw text">Mariana Cherchinaro Guimaraes
                        <span class="degree"> M.S., BCBA</span>
                    </h1>
                </div>
                <div>
                    <h5>loreum ipsume</h5>
                    <p class="description"> Layla Sump is a board certified behaviour analyst – doctoral. Layla is the
                        CoFounder of DAXTA
                        and leads the clinical efforts of the company. Dr. Sump is originally from Rio de Janeiro,
                        Brazil, but lives in the United States since 2003. Layla obtained her undergraduate and masters
                        degrees in Psychology at Jacksonville State University, under the mentorship of Paige McKerchar,
                        Ph.D., BCBA-D and her Ph.D. in Special Education from Texas Tech University, under the
                        mentorship of David Richman, Ph.D., BCBA-D. Following her doctorate, Layla was a post-doctoral
                        fellow at Trumpet Behavioural Health (TBH) under the mentorship of Linda LeBlanc, Ph.D., BCBA-D.
                        Then, while at TBH, Dr. Sump served as Director of the San Francisco office, Director of
                        Training, and Director of Clinical Services. Currently, Dr. Sump serves as a consultant for
                        autism service providers and she is an Adjunct Professor for Pepperdine University.
                    </p>
                    <p class="description">Dr. Sump has published in several peer-review scientific journals including
                        Journal of Applied Behavior Analysis, Behavior Analysis in Practice, Research in
                        Developmental Disabilities, Journal of Intellectual Disability Research, Journal of
                        Developmental and Physical Disabilities, and Journal of Mental Health Research in
                        Intellectual Disabilities. Dr. Sump has presented her research at national and
                        international conferences and has been a guest reviewer for the Journal of Applied
                        Behavior Analysis, Behavior Analysis in Practice, The Analysis of Verbal
                        Behavior, and Journal of Behavioral Education.</p>
                </div>
            </div>
            <div class="col-md-6 backimg d-flex justify-content-end">
                <div class="back-img">
                    <img src="../../../assets/images/Frame 225.png" style="max-width: 100%;">
                </div>
                <div class="img-tag">
                    <img src="../../../assets/images/Vector.png" class="img2">
                </div>

            </div>
            <!-- <button type="button" class="btn btn-outline-secondary" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title">
                Hover over me!
              </button> -->
        </div>

        <div class="container mt-5">
            <div>
                <h1 class=" tag-p">Latest Jobs</h1>
                <p class="tagp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Sed
                    ut
                    perspiciatis unde omnis iste natus error sit voluptatem</p>
            </div>

            <div class="col-md-10 card m-5 mx-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-10 col-md-12 text">
                            <h5>Senior Rolling Stock Technology</h5>
                            <div class="d-flex flex-row m-2">
                                <img src="../../../assets/images/location.png" class="mt-3"
                                    style="height: 15px; width: 15px;">
                                <p class="m-2">Moscow, Russia</p>
                            </div>
                            <div>
                                <p [ngClass]="{'limitTextHeight': isReadMore}">Use filler text that has been edited for
                                    length and format to match the
                                    characteristics of real content as closely as possible starting a new design
                                    Use filler text that has been edited for length and format to match the
                                    characteristics of real content as closely as possible starting a new design
                                </p>
                                <a type="button" (click)="isReadMore=!isReadMore"
                                    style="color: var(--secondary-color); font-family: 'Quicksand-Bold';">
                                    {{ isReadMore ? 'Read More': 'Read Less' }}
                                </a>
                            </div>
                        </div>
                        <div class="col-10 col-md-6 col-lg-2 text-center">
                            <button type="button" class="apply-btn f-18 fw ">Apply Now</button>
                            <p class="text-center mt-2">1 to 4 Yrs. Expr.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-10 card m-5 mx-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-10 text">
                            <h5>Senior Rolling Stock Technology</h5>
                            <div class="d-flex flex-row m-2">
                                <img src="../../../assets/images/location.png" class="mt-3"
                                    style="height: 15px; width: 15px;">
                                <p class="m-2">Moscow, Russia</p>
                            </div>
                            <div>
                                <p [ngClass]="{'limitTextHeight': isReadMore}">Use filler text that has been edited for
                                    length and format to match the
                                    characteristics of real content as closely as possible starting a new design
                                    Use filler text that has been edited for length and format to match the
                                    characteristics of real content as closely as possible starting a new design
                                </p>
                            </div>
                            <a type="button" (click)="isReadMore=!isReadMore"
                                style="color: var(--secondary-color); font-family: 'Quicksand-Bold';">
                                {{ isReadMore ? 'Read More': 'Read Less' }}
                            </a>
                        </div>
                        <div class="col-10 col-md-6 col-lg-2  text-center">
                            <button type="button" class="apply-btn f-18 fw">Apply Now</button>
                            <p class="text-center mt-2">1 to 4 Yrs. Expr.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-10 card m-5 mx-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-10 text">
                            <h5>Senior Rolling Stock Technology</h5>
                            <div class="d-flex flex-row m-2">
                                <img src="../../../assets/images/location.png" class="mt-3"
                                    style="height: 15px; width: 15px;">
                                <p class="m-2">Moscow, Russia</p>
                            </div>
                            <div>
                                <p [ngClass]="{'limitTextHeight': isReadMore}">Use filler text that has been edited for
                                    length and format to match the
                                    characteristics of real content as closely as possible starting a new design
                                    Use filler text that has been edited for length and format to match the
                                    characteristics of real content as closely as possible starting a new design
                                </p>
                            </div>
                            <a type="button" (click)="isReadMore=!isReadMore"
                                style="color: var(--secondary-color); font-family: 'Quicksand-Bold';">
                                {{ isReadMore ? 'Read More': 'Read Less' }}
                            </a>
                        </div>
                        <div class="col-10 col-md-6 col-lg-2  text-center">

                            <button type="button" class="apply-btn f-18 fw">Apply Now</button>
                            <p class="text-center mt-2">1 to 4 Yrs. Expr.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="justify-content-center d-flex">
                    <div class="col-md-10 back1 mt-1 mb-5 text-center">
                        <p class="text-center mt-5 fw"
                            style="color: #fff; font-size: 55px; font-family: 'Quicksand-bold';">
                            Lorem Ipsum is simply </p>
                        <p class="text-center f-18 fw" style="color: #fff;">Don’t find a suitable position that matches
                            your
                            skill set, but still interested? Get in touch with us! </p>
                        <div class="button">
                            <button type="button" class="inquire-btn f-18 fw m-3 ">Inquire now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <app-daxtatab></app-daxtatab>
    </div>
    <div class="justify-content-end d-flex m-4">
        <img src="../../../assets/images/chat.png">
    </div>
</div>