.back-img {
    background-color: #fdfbff;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  .form-btn {
    border-radius: 30px;
    margin-left: 20px;
    background-color: #ea1b64;
    color: #fff;
    padding: 10px 30px 10px 30px;
    margin-bottom: 30px;
    border: 0px;
  }
  ::placeholder {
    font-size: 16px;
    font-family: "Quicksand-Medium";
  }
  .form-control {
    border-radius: 50px;
    width: 100%;
    border-color: #ffebf2;
  }
  
  .lable {
    font-size: 14px;
    font-family: "Quicksand-SemiBold";
  }
  
  .form-select {
    border-color: #ffebf2;
    border-radius: 50px;
  }
  .form-group{
    width: 90%;
  }
  
  label {
    color: var(--primary-color);
    font-family: "Quicksand-SemiBold";
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .textarea1{
    width: 100%;
  }

  .reg-form {
    justify-content: center;
    display: flex;
    margin-top: 100px;
  }