<div class="mainclass">
    <div class="container">
        <div class="mt-5">
            <div class=" d-flex flex-row mt-5 justify-content-center">
                <h1 class="fw">Terms of Use</h1>
            </div>
            <p class="text-p  fw fw text-center" style="font-family: 'Quicksand-SemiBold';">Lorem Ipsum is simply dummy
                text of the printing and typesetting</p>
        </div>
    </div>
    <div class="container back">
        <div class="background m-5 mx-auto">
            <div class="m-5">
                <p class="text pt-5">Introduction</p>
                <p class="text1">Sed non dui aliquam, ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim
                    non, tincidunt vel quam. Etiam porttitor iaculis odio.

                    Cras sagittis nunc lectus, in condimentum ligula ornare at. Etiam sagittis malesuada nisl. Duis
                    volutpat ligula ante. Sed cursus, tortor a pellentesque pulvinar, lorem
                    ipsum gravida elit, id posuere elit neque in est. Mauris ex justo, tincidunt at suscipit quis,
                    pretium a mi.</p>

                <p class="text fw">Using our services</p>
                <p class="text1">Sed luctus tristique est, non tempor ipsum tincidunt in. Vestibulum commodo eu augue nec maximus.
                    Vestibulum vel metus varius turpis finibus accumsan in eu
                    ligula. Phasellus semper ornare orci, sit amet fermentum neque faucibus id. Vestibulum id ante
                    massa.</p>

                <p class="text fw">Privacy and copyright protection</p>
                <p class="text1 ">Duis ultrices augue id feugiat commodo. Vivamus eu elit convallis, posuere neque at, ultricies
                    tortor. Donec eleifend tortor vel laoreet convallis.Duis ultrices augue id feugiat commodo. Vivamus
                    eu elit convallis, posuere neque at, ultricies tortor. Donec eleifend tortor vel laoreet convallis.
                </p>

                <p class="text1 ">Aliquam fermentum velit nunc, quis tristique neque imperdiet in. Etiam pretium fermentum eros vitae
                    scelerisqueDuis ultrices augue id feugiat commodo. Vivamus eu elit convallis, posuere neque at,
                    ultricies tortor. Donec eleifend tortor vel laoreet convallis.</p>

                <p class="text1 ">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam
                    dignissim urna eget dictum congue.Duis ultrices augue id feugiat commodo. Vivamus eu elit convallis,
                    posuere neque at, ultricies tortor. Donec eleifend tortor vel laoreet convallis. </p>

                <p class="text fw">Your content in our services</p>
                <p class="text1 ">Aenean id placerat tortor. Ut vel interdum odio. Mauris vitae tortor augue. Sed tincidunt, metus id
                    venenatis dictum, nisi felis suscipit neque, pharetra consectetur nibh eros et lorem. Suspendisse
                    potenti. </p>
                <p class="text1 ">Vivamus eu massa gravida, facilisis mauris vel, sodales diam. Phasellus at nisi condimentum, bibendum
                    lacus eu, suscipit erat. Mauris fringilla laoreet tristique. Sed eleifend tincidunt erat, in cursus
                    felis fringilla sit amet. Morbi commodo est dapibus metus tincidunt pellentesque.
                </p>
                <p class="text1 ">Vivamus eu massa gravida, facilisis mauris vel, sodales diam. Phasellus at nisi condimentum, bibendum
                    lacus eu, suscipit erat. Mauris fringilla laoreet tristique. Sed eleifend tincidunt erat, in cursus
                    felis fringilla sit amet. Morbi commodo est dapibus metus tincidunt pellentesque.Vivamus eu massa
                    gravida, facilisis mauris vel, sodales diam. Phasellus at nisi condimentum, bibendum lacus eu,
                    suscipit erat. Mauris fringilla laoreet tristique. Sed eleifend tincidunt erat, in cursus felis
                    fringilla sit amet. Morbi commodo est dapibus metus tincidunt pellentesque.
                </p>
                <p class="text1  ">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam
                    dignissim urna eget dictum congue.Duis ultrices augue id feugiat commodo. Vivamus eu elit convallis,
                    posuere neque at, ultricies tortor. Donec eleifend tortor vel laoreet convallis.
                </p>
                <p class="text1 ">Sed non dui aliquam, ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim
                    non, tincidunt vel quam. Etiam porttitor iaculis odio.
                </p>
                <p class="text1 ">Sed non dui aliquam, ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim
                    non, tincidunt vel quam. Etiam porttitor iaculis odio. Sed non dui aliquam, ullamcorper est non,
                    aliquet mauris. Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel quam. Etiam porttitor
                    iaculis odio.
                </p>

                <p class="text fw">Adipiscing auctor vestibulum </p>
                <p class="text1 ">Sed luctus tristique est, non tempor ipsum tincidunt in. Vestibulum commodo eu augue nec maximus.
                    Vestibulum vel metus varius turpis finibus accumsan in eu
                    ligula. Phasellus semper ornare orci, sit amet fermentum neque faucibus id. Vestibulum id ante
                    massa.</p>

                <p class="text fw">Molestie eros laoreet </p>
                <p class="text1 ">Sed luctus tristique est, non tempor ipsum tincidunt in. Vestibulum commodo eu augue nec maximus.
                    Vestibulum vel metus varius turpis finibus accumsan in eu
                    ligula. Phasellus semper ornare orci, sit amet fermentum neque faucibus id. Vestibulum id ante
                    massa.
                </p>
                <p class="text1 ">Sed luctus tristique est, non tempor ipsum tincidunt in. Vestibulum commodo eu augue nec maximus.
                    Vestibulum vel metus varius turpis finibus accumsan in eu
                    ligula. Phasellus semper ornare orci, sit amet fermentum neque faucibus id. Vestibulum id ante
                    massa.Sed luctus tristique est, non tempor ipsum tincidunt in. Vestibulum commodo eu augue nec
                    maximus. Vestibulum vel metus varius turpis finibus accumsan in eu
                    ligula. Phasellus semper ornare orci, sit amet fermentum neque faucibus id. Vestibulum id ante
                    massa.</p>

                <p class="text fw">Malesuada amet massa </p>
                <p class="text1 ">Sed non dui aliquam, ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim
                    non, tincidunt vel quam. Etiam porttitor iaculis odio.
                </p>
                <p class="text1 ">Cras sagittis nunc lectus, in condimentum ligula ornare at. Etiam sagittis malesuada nisl. Duis
                    volutpat ligula ante. Sed cursus, tortor a pellentesque pulvinar, lorem
                    ipsum gravida elit, id posuere elit neque in est. Mauris ex justo, tincidunt at suscipit quis,
                    pretium a mi.</p>

                <P class="text fw">Convallis auctor amet </P>
                <p class="text1 ">Sed non dui aliquam, ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim
                    non, tincidunt vel quam. Etiam porttitor iaculis odio.
                </p>
                <p class="text1  pb-5">Cras sagittis nunc lectus, in condimentum ligula ornare at. Etiam sagittis malesuada nisl. Duis
                    volutpat ligula ante. Sed cursus, tortor a pellentesque pulvinar, lorem
                    ipsum gravida elit, id posuere elit neque in est. Mauris ex justo, tincidunt at suscipit quis,
                    pretium a mi.</p>
            </div>
        </div>
    </div>


    <div class="justify-content-end d-flex m-4">
        <img src="../../../assets/images/chat.png">
    </div>
</div>