<div>
  <div class="section1">
    <div class="mainclass">
      <div class="container">
        <div class="mt-5">
          <div class="text-center header">
            <h1>News &
              <span class=" header-contant">Articles</span>
            </h1>
          </div>
          <p class="text-p f-18 fw text-center">DAXTA can help your company increase quality and efficiency in the
            treatment of</p>

          <div class="container">
            <div class="row height d-flex justify-content-center align-items-center">
              <div class="col-md-6 mt-5">
                <div class="input-group mb-3"> 
                  <input type="text" class="form-control" placeholder="Search Blog....">
                  <div class="input-group-append">
                    <button class="btn1 btn-primary">
                      <i class="fa fa-search"></i></button></div>
              </div>
            </div>
          </div>

        </div>


        <div class="container">
          <div class="row mt-5 card1">
            <div class="col-12 col-md-4 col-lg-4">
              <div class="card m-1">
                <img class="card-img-top"   src="../../../assets/images/Training-team.png">
                <div class="top-left">July 15</div>
                <div class="card-body">
                  <h5 class="card-title">Do millennials care about saving? </h5>
                  <p class="card-text text-center">Curabitur tincidunt sed neque id pretium. Aenean volutpat tristique
                    tincidunt. Pellentesque ac urna.</p>
                  <div class="justify-content-center d-flex">
                    <button href="#" class="btn" (click)="goto()">Read More</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="card m-1">
                <img class="card-img-top" src="../../../assets/images/Supervision.png">
                <div class="top-left">July 15</div>
                <div class="card-body">
                  <h5 class="card-title">Let's revolutionise global </h5>
                  <p class="card-text text-center">Curabitur tincidunt sed neque id pretiumdfsffgdfgdfgdfgf. Aenean
                    volutpat tristique
                    tincidunt. Pellentesque ac urna.</p>
                  <div class="justify-content-center d-flex">
                    <button href="#" class="btn ">Read More</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
              <div class="card m-1">
                <img class="card-img-top" src="../../../assets/images/Executive Organizational Consultation.png">
                <div class="top-left">July 15</div>
                <div class="card-body">
                  <h5 class="card-title">Bodrum design forward fund</h5>
                  <p class="card-text text-center">Curabitur tincidunt sed neque id pretium. Aenean volutpat tristique
                    tincidunt. Pellentesque ac urna.</p>
                  <div class="justify-content-center d-flex">
                    <button href="#" class="btn">Read More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="row card2">
            <div class="col-md-6">
              <div class="card m-3">
                <img class="card-img-top" src="../../../assets/images/save.png">
                <div class="top-left">July 15</div>
                <div class="card-body">
                  <h5 class="card-title">Let's revolutionise global </h5>
                  <p class="card-text text-center">Curabitur tincidunt sed neque id pretium. Aenean volutpat tristique
                    tincidunt. Pellentesque ac urna.</p>
                  <div class="justify-content-center d-flex">
                    <button href="#" class="btn ">Read More</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card m-3">
                <img class="card-img-top" src="../../../assets/images/Clinical Consultation.png">
                <div class="top-left">July 15</div>
                <div class="card-body">
                  <h5 class="card-title">Let's revolutionise global </h5>
                  <p class="card-text text-center">Curabitur tincidunt sed neque id pretium. Aenean volutpat tristique
                    tincidunt. Pellentesque ac urna.</p>
                  <div class="justify-content-center d-flex">
                    <button href="#" class="btn ">Read More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <div class="container">
        <div class="row mt-5 card1">
          <div class="col-12 col-md-4 col-lg-4">
            <div class="card m-1">
              <img class="card-img-top" src="../../../assets/images/about.png">
              <div class="top-left">July 15</div>
              <div class="card-body">
                <h5 class="card-title">Do millennials care about saving? </h5>
                <p class="card-text text-center">Curabitur tincidunt sed neque id pretium. Aenean volutpat tristique
                  tincidunt. Pellentesque ac urna.</p>
                <div class="justify-content-center d-flex">
                  <button href="#" class="btn" (click)="goto()">Read More</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4">
            <div class="card m-1">
              <img class="card-img-top" src="../../../assets/images/global.png">
              <div class="top-left">July 15</div>
              <div class="card-body">
                <h5 class="card-title">Let's revolutionise global </h5>
                <p class="card-text text-center">Curabitur tincidunt sed neque id pretiumdfsffgdfgdfgdfgf. Aenean
                  volutpat tristique
                  tincidunt. Pellentesque ac urna.</p>
                <div class="justify-content-center d-flex">
                  <button href="#" class="btn ">Read More</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4">
            <div class="card m-1">
              <img class="card-img-top" src="../../../assets/images/fund.png">
              <div class="top-left">July 15</div>
              <div class="card-body">
                <h5 class="card-title">Bodrum design forward fund</h5>
                <p class="card-text text-center">Curabitur tincidunt sed neque id pretium. Aenean volutpat tristique
                  tincidunt. Pellentesque ac urna.</p>
                <div class="justify-content-center d-flex">
                  <button href="#" class="btn">Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       

        <!-- <div>
    <app-daxtatab></app-daxtatab>
  </div> -->

        <div class="justify-content-end d-flex m-4">
          <img src="../../../assets/images/chat.png">
        </div>
      </div>