<div class="mainclass">
    <div class="container">
        <div class="mt-5">
            <div class="text-center">
                <h1 class="contact fw">Get In Touch</h1>
            </div>
            <p class="text-p f-18 fw text-center">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 col-12 mt-5">
                <img src="../../../assets/images/Map.png" class="mapimg">
            </div>
            <div class="col-md-12 col-lg-5 col-12">
                <div class="m-5 d-flex flex-row">
                    <div class="circle-icon">
                        <img src="../../../assets/images/phone.png">
                    </div>

                    <div class="text">
                        <p class="m-0 fw text1">Phone</p>
                        <p class="m-0">123456789</p>
                    </div>
                </div>

                <div class="m-5 d-flex flex-row">
                    <div class="circle-icon">
                        <img src="../../../assets/images/pin.png">
                    </div>

                    <div class="text">
                        <p class="m-0 fw text1">Address</p>
                        <p class="m-0">Lorem Ipsum is simply dummy text of the printing and </p>
                    </div>
                </div>

                <div class="m-5 d-flex flex-row">
                    <div class="circle-icon">
                        <img src="../../../assets/images/email.png">
                    </div>

                    <div class="text">
                        <p class="m-0 fw text1">Email</p>
                        <p class="m-0">contact@daxta.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <app-form></app-form>
    </div>
    <div>
        <app-daxtatab></app-daxtatab>
    </div>
</div>