.mainclass{
    min-height: 100vh;
}
.text{
    font-size: 40px;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Quicksand-Bold';
}

.image-blog{
    width: 100%;
}
li{
    font-size: 18px;
    color: var(--primary-color);
}