.mainclass{
      min-height: 100vh;
}

.tag-p{
        font-size: 80px;
        font-family: 'Quicksand-Bold';
  }
  .card-title {
      color: var(--primary-color);
      font-size: 23px;
      font-family: "Quicksand-SemiBold";
    }
    
    .card-text {
      color: var(--primary-color);
      font-size: 17px;
      font-family: "Quicksand-Medium";
      line-height: normal;
    }
    
    .card-div {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    
    .card-body {
      padding: 20px;
    }

    .card-group {
      border-radius: 10px;
      border-left: #0a2360 5px solid;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    
    .card-group1 {
      border-radius: 10px;
      border-left: #ea1b64 5px solid;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .header-contant {
      color: var(--secondary-color) !important;
      font-family: 'Quicksand-Bold';
    }
    h1{
      font-family: 'Quicksand-Bold';
    }
    .card-class h5{
      color: var(--primary-color);
      font-family: 'Quicksand-Bold';
    }