@font-face {
  font-family: "Quicksand-Bold";
  src: url("./assets/Font/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("./assets/Font/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("./assets/Font/Quicksand-Light.ttf");
}
@font-face {
  font-family: "Quicksand-Medium";
  src: url("./assets/Font/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("./assets/Font/Quicksand-SemiBold.ttf");
}

* {
  font-family: "Quicksand-Regular";
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

p {
  font-size: 18px;
  color: var(--primary-color);
}

.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}

.f-20 {
  font-size: 20px;
}
.fw {
  font-weight: 700;
}
.fw-5 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
  font-family: "Quicksand-Bold";
}
:root {
  --primary-color: #0a2360;
  --secondary-color: #ea1b64;
}
