<div class="background">
    <!-- <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <div class="mt-4">
                    <img class="image" src="../../../assets/images/Daxtalogo.png">
                </div>
                <p class="fw f-16">
                    Lorem ipsum dolor sit amet,<br>
                    consectetur adipiscing elit, sed do<br>
                    eiusmod tempor
                </p>
                <div class="row social-img mt-4">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                        <img src="../../../assets/images/Facebook.png">
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                        <img src="../../../assets/images/instagram.png">
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                        <img src="../../../assets/images/Linkedin.png">
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h4 class=" fw mt-5">About Us</h4>

                <p class="">Our Services</p>
                <p class="">Software</p>
                <p class="">Courses</p>
                <p class="">Blog</p>
                <p class="">Contact Us</p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 col-12 mx-auto mb-4">

                <h4 class=" fw mt-5">Company</h4>
                <a class="nav-link f-18 tag-a" routerLink="/terms" routerLinkActive="router-link-active">Terms of Use
                </a>
                <a class="nav-link f-18 tag-a" routerLink="/privacy" routerLinkActive="router-link-active">Privacy
                    Policy</a>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 col-12 mx-auto mb-md-0 mb-4">

                <h4 class="mt-5 fw">Contact Us</h4>
                <p class="fw f-16">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do
                    eiusmod tempor
                </p>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="inputWithIcon">
                                <input type="text" placeholder="Email">
                                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-2">
                        <div>
                            <button type="button" class="btn fw">subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> -->

    <div class="container pt-3">
        <footer class="text-center text-lg-start text-muted">

            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-12 col-md-6 col-lg-4 mx-auto mb-4">
                        <img class="image" src="../../../assets/images/Daxtalogo.png">
                        <p class="fw">
                            Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit, sed do<br>
                            eiusmod tempor
                        </p>
                        <div class="row social-img mt-4">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <img src="../../../assets/images/Facebook.png">
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <img src="../../../assets/images/instagram.png">
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <img src="../../../assets/images/Linkedin.png">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-2 p-0 m-0 about">
                        <h3 class="mb-4 fw">{{'aboutus' | translate}}</h3>
                        <p class="">{{'ourservice' | translate}}</p>
                        <p class="">{{'software' | translate}}</p>
                        <p class="">{{'courses' | translate}}</p>
                        <!-- <p class="">Blog</p> -->
                        <p class="">{{'contactus' | translate}}</p>
                    </div>

                    <div class="col-12 col-md-6 col-lg-2 mx-auto text-lg-center p-0 m-0 ">

                        <h3 class="fw mb-4">{{'company' | translate}}</h3>
                        <a class="nav-link f-18 tag-a" routerLink="/terms"
                            routerLinkActive="router-link-active">{{'t&c' | translate}} </a>
                        <a class="nav-link f-18 tag-a" routerLink="/privacy"
                            routerLinkActive="router-link-active">{{'privacypolicy' | translate}}</a>

                    </div>

                    <div class="col-12 col-md-6 col-lg-3 col-xl-3 mx-auto p-0 m-0">
                        <h3 class="fw mb-4">{{'contactus' | translate}}</h3>
                        <p class="fw">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do
                            eiusmod tempor
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="inputWithIcon">
                                        <input type="text" placeholder="Email">
                                        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div>
                                    <button type="button" class="btn fw">subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text-center p-5 Copyright">
                © 2021 Copyright |
                <a class="text-reset fw-bold">DAXTA</a>
            </div>
        </footer>
    </div>
</div>