.background {
  background-color: var(--primary-color);
}
p {
  color: white;
}

.image {
  height: 65px;
  width: 255px;
  margin-bottom: 25px;
}
h3 {
  font-family: "Quicksand-SemiBold";
  color: #fff;
}

.about {
  line-height: normal;
}

input[type="text"] {
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 14px 8px;
  color: var(--secondary-color);
  transition: 0.3s;
}

.inputWithIcon.inputIconBg i {
  color: #fff;
  padding: 9px 4px;
}

.btn {
  background-color: var(--secondary-color);
  color: #fff;
  font-family: "Quicksand-Medium";
  font-size: 18px;
}

.Copyright {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .social-img {
    justify-content: center;
    display: flex;
  }
}

a {
  color: #fff;
  font-weight: 700;
}
.router-link-active {
  color: var(--secondary-color);
}
.router-link-active a:active {
  color: var(--secondary-color);
}
