.back {
  background: linear-gradient(to left, #ea1b64, #f4a1c3, #faf6fe);
  margin-bottom: 50px;
  margin-top: 50px;
  background-size: auto;
}

.demo {
  color: var(--primary-color);
  font-family: "Quicksand-SemiBold";
}

.app1 {
  margin-left: 12%;
  line-height: normal;
}
.text {
  line-height: normal;
}

.play-img1 {
  margin-left: 10%;
  margin-bottom: 50px;
}

.tab {
  box-shadow: rgb(0 0 0 / 16%) 0px 2px 48px;
  width: 100%;
}
.schedule-btn {
  border-radius: 30px;
  margin-left: 20px;
  color: #fff;
  padding: 10px 40px 10px 40px;
  border: 0px;
  background-color: var(--primary-color);
}

.more-btn {
  border-radius: 30px;
  margin-left: 20px;
  color: var(--primary-color);
  padding: 10px 40px 10px 40px;
  border: 1px solid #0a2360;
  background-color: transparent;
}

.main-div{
  margin:100px 0px 100px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .tab {  
    width: 80%;
    justify-content: center;
    display: flex;
  }

}
@media (min-width: 768px) and (max-width: 1023px) {
  .tab-img{
    margin-left: 50px;
  }
 
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .tab {  
    margin-top: 30px;
  }
}
